{{#* inline "combatantControls" parameter=isGM}}
<img class="token-image" data-src="{{this.img}}" title="{{this.name}}"/>
<div class="token-name flexcol">
  <h4>{{this.name}}</h4>
  <div class="combatant-controls flexrow">
    {{#if isGM}}
    <a class="combatant-control {{#if this.hidden}}active{{/if}}" title="{{localize 'COMBAT.ToggleVis'}}" data-control="toggleHidden">
      <i class="fas fa-eye-slash"></i></a>
    <a class="combatant-control {{#if this.defeated}}active{{/if}}" title="{{localize 'COMBAT.ToggleDead'}}" data-control="toggleDefeated">
      <i class="fas fa-skull"></i></a>
    {{/if}}
    <div class="token-effects">
      {{#each this.effects}}
      <img class="token-effect" src="{{this.data.icon}}"/>
      {{/each}}
    </div>
  </div>
</div>
{{/inline}}

{{#*inline "sparkEntry" parameter=isGM}}
<li class="combatant actor directory-item flexrow {{this.css}}" data-combatant-id="{{this.id}}">
  {{> combatantControls isGM=isGM}}
  {{#if this.hasResource}}
  <div class="token-resource">
    <span class="resource">{{this.resource}}</span>
  </div>
  {{/if}}

  <div class="end-turn">
    {{#if this.ended}}
    <i class="combatant-control fas fa-clock" title="{{localize 'NOVA.ResetTurn'}}" data-control="resetTurn"></i>
    {{else if this.owner}}
    <i class="combatant-control far fa-check-circle" title="{{localize 'NOVA.EndTurn'}}" data-control="endTurn"></i>
    {{/if}}
  </div>
</li>
{{/inline}}

{{#*inline "npcEntry" parameter=isGM}}
<li class="combatant actor directory-item flexrow {{this.css}}" data-combatant-id="{{this.id}}">
  {{> combatantControls isGM=isGM}}
  {{#if this.hasResource}}
  <div class="token-resource">
    <span class="resource">{{this.resource}}</span>
  </div>
  {{/if}}
</li>
{{/inline}}

{{#*inline "dropEntry" parameter=isGM}}
  <li class="combatant actor drop-entry" data-combatant-id="{{this.id}}">
    <img src="{{this.img}}" class="actor-drop-img" width="48px" title="{{this.name}}"/>
    <img src="icons/svg/item-bag.svg" class="drop-hover" width="48px" title="Roll Drop for {{this.name}}"/>
  </li>
{{/inline}}

<section class="tab sidebar-tab directory flexcol nova" id="combat" data-tab="combat">
    <header id="combat-round">
        {{#if user.isGM}}
        <nav class="encounters flexrow">
            <a class="combat-create" title="{{localize 'COMBAT.Create'}}">
                <i class="fas fa-plus"></i>
            </a>
            {{#if combatCount}}
            <a class="combat-cycle" title="{{localize 'COMBAT.EncounterPrevious'}}"
               {{#if previousId}}data-combat-id="{{previousId}}"{{else}}disabled{{/if}}>
                <i class="fas fa-caret-left"></i>
            </a>
            <h4 class="encounter">{{localize "COMBAT.Encounter"}} {{currentIndex}} / {{combatCount}}</h4>
            <a class="combat-cycle" title="{{localize 'COMBAT.EncounterNext'}}"
               {{#if nextId}}data-combat-id="{{nextId}}"{{else}}disabled{{/if}}>
                <i class="fas fa-caret-right"></i>
            </a>
            {{/if}}
            <a class="combat-control" title="{{localize 'NOVA.Delete'}}" data-control="endCombat" {{#unless combatCount}}disabled{{/unless}}>
                <i class="fas fa-trash"></i>
            </a>
        </nav>
        {{/if}}

        <nav class="encounters flexrow">
            {{#if user.isGM}}
            <a class="combat-control" title="{{localize 'NOVA.AllSparksEndTurn'}}" data-control="allEndTurn" {{#unless turns}}disabled{{/unless}}>
                <i class="far fa-check-circle"></i>
            </a>
            <a class="combat-control" title="{{localize 'NOVA.RollAllDrops'}}" data-control="rollAllDrops" {{#unless turns}}disabled{{/unless}}>
                <i class="fas fa-dice"></i>
            </a>
            {{/if}}

            {{#if combatCount}}
            {{#if combat.data.round}}
            <h3>{{localize 'COMBAT.Round'}} {{combat.data.round}}</h3>
            {{else}}
            <h3>{{localize 'COMBAT.NotStarted'}}</h3>
            {{/if}}
            {{else}}
            <h3>{{localize "COMBAT.None"}}</h3>
            {{/if}}

            {{#if user.isGM}}
            <a class="combat-control" title="{{localize 'NOVA.ResetRound'}}" data-control="resetAll"
                {{#unless hasCombat}}disabled{{/unless}}>
                <i class="fas fa-undo"></i>
            </a>
            <a class="combat-settings" title="{{localize 'COMBAT.Settings'}}" data-control="trackerSettings">
                <i class="fas fa-cog"></i>
            </a>
            {{/if}}
        </nav>
    </header>

    <ol id="combat-tracker" class="directory-list">
      {{#if hasCombat}}
      <h4 class="flexrow {{playerStyle}}">{{localize 'NOVA.Sparks'}}</h4>
        {{#each turns.spark}}
        {{> sparkEntry isGM=../user.isGM}}
        {{/each}}
        <h4 class="flexrow {{gmStyle}}">{{localize 'NOVA.GM'}} {{#unless playerTurn}}{{#if combat.data.turn}}{{localize 'NOVA.Turn'}} {{combat.data.turn}}{{/if}}{{/unless}}</h4>
        {{#each turns.npc}}
        {{#unless this.zeroHp}}
        {{> npcEntry isGM=../user.isGM}}
        {{/unless}}
        {{/each}}
        <h4 class="flexrow inactive-turn">{{localize 'NOVA.CombatDropTracker'}}</h4>
        <div class="flexrow">
        {{#each turns.npc}}
        {{#if this.zeroHp}}
        {{> dropEntry isGM=../user.isGM}}
        {{/if}}
        {{/each}}
        </div>
      {{/if}}
    </ol>

    {{#if user.isGM}}
    <nav id="combat-controls" class="directory-footer flexrow">
    {{#if hasCombat}}
            {{#if round}}
            <a class="combat-control" title="{{localize 'COMBAT.RoundPrev'}}" data-control="previousRound"><i class="fas fa-step-backward"></i></a>
            <a class="combat-control center" title="{{localize 'COMBAT.End'}}" data-control="endCombat">{{localize 'COMBAT.End'}}</a>
            <a class="combat-control" title="{{localize 'COMBAT.RoundNext'}}" data-control="nextRound"><i class="fas fa-step-forward"></i></a>
            {{else}}
            <a class="combat-control center" title="{{localize 'COMBAT.Begin'}}" data-control="startCombat">{{localize 'COMBAT.Begin'}}</a>
            {{/if}}
        {{else if control}}
    {{/if}}
    {{/if}}
    </nav>
</section>
