<section >
  <ol class="items-list">
    <li class="item flexrow items-header">
      <div class="item-name">{{npcHarm.label}}</div>
      <div class="item header-controls">
        <a class="item-control item-create" title="{{npcHarm.addLabel}}" data-item-type="{{npcHarm.listField}}"><i class="fas fa-plus"></i> {{localize "NOVA.AddEntry"}}</a>
      </div>
    </li>
    {{#each npcHarm.entries as |entry index|}}
    <li class="item flexrow" data-npc-item="{{../npcHarm.listField}}" data-index="{{index}}">
      <div class="item-name">
        <div class="item-image">
          <a class="rollable" data-roll-type="{{../npcHarm.listField}}"><img src="icons/svg/d20-black.svg" title="{{../npcHarm.rollLabel}}" width="24" height="24"/></a>
        </div>
        <input type="text" name="data.{{../npcHarm.listField}}.{{index}}" value="{{entry.[0]}}" data-dtype="String"/>
        <input type="text" name="data.{{../npcHarm.listField}}.{{index}}" value="{{entry.[1]}}" data-dtype="String" placeholder="Special"/>
        <select name="data.{{../npcHarm.listField}}.{{index}}">
          {{selectOptions ../statusList selected=entry.[2] nameAttr="id" labelAttr="label" localize=true blank="NOVA.StatusTarget"}}
        </select>
      </div>
      <div class="item-controls">
        <a class="item-control item-delete" title="{{../npcHarm.deleteLabel}}"><i class="fas fa-trash"></i></a>
      </div>
    </li>
    {{/each}}
  </ol>
  {{#each npcActions}}
  <ol class="items-list">
    <li class="item flexrow items-header">
      <div class="item-name">{{this.label}}</div>
      <div class="item header-controls">
        <a class="item-control item-create" title="{{this.addLabel}}" data-item-type="{{this.listField}}"><i class="fas fa-plus"></i> {{localize "NOVA.AddEntry"}}</a>
      </div>
    </li>
    {{#each this.entries}}
    <li class="item flexrow" data-npc-item="{{../listField}}" data-index="{{@index}}", data-flavor="{{../flavor}}">
      <div class="item-name">
        <div class="item-image">
          <a class="rollable" data-roll-type="{{../listField}}"><img src="icons/svg/d20-black.svg" title="{{../rollLabel}}" width="24" height="24"/></a>
        </div>
        <input type="text" name="data.{{../listField}}.{{@index}}" value="{{this}}" data-dtype="String"/>
      </div>
      <div class="item-controls">
        <a class="item-control item-delete" title="{{../deleteLabel}}"><i class="fas fa-trash"></i></a>
      </div>
    </li>
    {{/each}}
  </ol>
  {{/each}}
</section>
