<span class="nova">
  {{#if harmInfo.special}}
  <div class="flexcol">
    <p>{{harmInfo.special}}</p>
  </div>
  {{/if}}
  <div class="harm-apply flexrow", data-item-uuid="{{itemUuid}}">
    <button data-path="{{harmInfo.cost.source}}" data-targets="{{casters}}" data-change="{{harmInfo.cost.value}}">{{resourceLabel}}</button>
    <button data-path="{{harmInfo.harm.source}}" data-targets="{{targets}}" data-change="{{harmInfo.harm.value}}">{{harmLabel}}</button>
  </div>
  <div class="harm-footer">
    {{harmFooter}}
  </div>
</span>
