<section class="grid grid-5col align-center">
          {{!-- As you add new fields, add them in here! --}}
          <div class="flexrow">
            <label for="data.type" class="resource-label">{{localize "NOVA.Type"}}</label>
          </div>
          <div class="flexrow grid-span-4">
          {{#if canAttachFlare}}
          <label for="data.mods" class="resource-label">{{localize "NOVA.FlareMods"}}</label>
          {{/if}}
          </div>
          <div class="flexrow">
            <select name="data.type">
              {{#select data.type}}
              {{#each subTypes as |name type|}}
              <option value="{{type}}">{{localize name}}</option>
              {{/each}}
              {{/select}}
            </select>
          </div>
          {{#each data.mods}}
          <div class="flexrow grid-span-2">
          {{#if ../canAttachFlare}} 
          <select name="data.mods">
            {{selectOptions ../modInfo selected=this inverted=false}}
          </select>
          {{/if}}
          </div>
          {{/each}}
      </section>

