<header class="sheet-header">
  <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
  <div class="header-fields grid grid-6col">
    {{!-- row 1 --}}
    {{!-- item name --}}
    <h1 class="charname grid-span-4"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>

    {{!-- item subtype --}}
    <div class="grid-span-2 flexcol">
      <label class="resource-label">{{localize "NOVA.Type"}}</label>
      <select name="system.type">
        {{#select system.type}}
        {{#each subTypes as |name type|}}
        <option value="{{type}}">{{localize name}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>

    {{!-- row 2 --}}
    {{#if canAttachFlare}}
    <div class="grid-span-6 flexrow">
      <label class="resource-label">{{localize "NOVA.FlareMods"}}</label>
      {{#each system.mods}}
      <select name="system.mods">
        {{selectOptions ../modInfo selected=this inverted=false}}
      </select>
      {{/each}}
    </div>
    {{/if}}
    {{#if canBeAttached}}
    <div class="flexrow grid-span-6">
      <label class="resource-label grid-span-2">{{localize "NOVA.Affects"}}</label>
      <select name="system.affects">
        {{selectOptions affectInfo selected=system.affects inverted=false}}
      </select>
    </div>
    {{/if}}
  </div>
</header>
