<div class="dice-roll">
    {{#if flavor}}
    <div class="dice-flavor">{{flavor}}</div>
    {{/if}}
    <div class="dice-result">
        <div class="dice-formula">{{formula}}</div>
        {{{tooltip}}}
        <h4 class="dice-total">{{result}}</h4>
    </div>
</div>
{{#if drop.hasDrop}}
{{#unless claimed}}
<div class="nova">
  <button class="drop-button" data-drop-type="{{drop.dropType}}" data-drop-count={{drop.dropCount}} data-drop-name="{{result}}">Claim Drop</button>
</div>
{{else}}
<div class="nova">
  Yoinked
</div>
{{/unless}}
{{/if}}
