<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
      <section class="grid grid-5col align-center">
          {{!-- As you add new fields, add them in here! --}}
          <div class="flexrow">
            <label for="data.type" class="resource-label">{{localize "NOVA.Type"}}</label>
          </div>
          <div class="flexrow grid-span-4">
          {{#if canAttachFlare}}
          <label for="data.mods" class="resource-label">{{localize "NOVA.FlareMods"}}</label>
          {{/if}}
          </div>
          <div class="flexrow">
            <select name="data.type">
              {{#select data.type}}
              {{#each subTypes as |name type|}}
              <option value="{{type}}">{{localize name}}</option>
              {{/each}}
              {{/select}}
            </select>
          </div>
          {{#each data.mods}}
          <div class="flexrow grid-span-2">
          {{#if ../canAttachFlare}} 
          <select name="data.mods">
            {{selectOptions ../modInfo selected=this inverted=true}}
          </select>
          {{/if}}
          </div>
          {{/each}}
      </section>

      <div class="editor flexrow">
        {{editor content=data.description target="data.description" rollData=rollData button=true owner=owner editable=editable}}
      </div>
  </section>

</form>
